

.productPage{
    display: flex;
    
    justify-content: center;
    }
    .leftSide{
        height: 100vh;
        width: 40vw;
       
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightSide{
        height: 100vh;
        width: 40vw;
        display: flex;
       
        align-items: center;
        justify-content: center;
    }
    .product-data p{
        font-size: 25px
    }
    .title{
        color: gray;
        width: 100%;
       
    }
    .off{
        color: rgba(255, 0, 0, 0.655);
        margin-left: 5px;
    }
    .price{
        display: flex;
    }
    .product-data{
        padding: 30px;
    }
    .size-colour{
        display: flex;
       flex-direction: column;
      
       margin-bottom: 20px;
    }
    .size{
        display: flex;
        font-size: 20px;
        align-items: center;
      
    
    }
    .select-size{
        margin-right: 10px;
    }
    .size select{
        width: 90px;
        height: 27px;
        font-size:small ;
    }
    .c2{
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .colour{
        display: flex;
        
        flex-direction: column;
        
    }
    .red{
        display: flex;
        flex-direction: row;
    }
    .colour1{
        width: 25px;
        height: 25px;
        background-color: rgb(0, 106, 255);
        border-radius: 50%;
        margin: 10px;
    }
    .colour2{
        width: 25px;
        height: 25px;
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        margin: 10px;
    }.colour3{
        width: 25px;
        height: 25px;
        background-color: rgb(246, 255, 0);
        border-radius: 50%;
        margin: 10px;
    }.colour4{
        width: 25px;
        height: 25px;
        background-color: rgb(0, 255, 140);
        border-radius: 50%;
        margin: 10px;
    }
    .add-to-cart{
        margin-bottom: 20px;
    }
    .add{
        width: 30px;
        margin: 5px;
        border-radius: 5px;
    }
    .add-cart{
        margin-left: 20px;
        width: 110px;
        background-color: #017F81;
        height: 40px;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
    }
    .add :hover{
        background-color: rgb(255, 255, 255);
    }
    .product-data{
        height: 80vh;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.089);
        display: flex;
        flex-direction: column;
    }
    
    .product-img{
        height: 80vh;
        width: 80%;
        object-fit: contain;
    }


    @media only screen and (max-width: 1170px){
        .productPage{
            flex-direction: column;
        
        }
        
.leftSide {
    width: 85vw;
    
}
.rightSide{
    width: 85vw;
}
}